.header {
  background-color: #032541;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__input {
  height: 70%;
  width: 500px;
  border-radius: 50px;
  border: none;
  padding: 0;
}

.header__input:placeholder-shown {
  padding-left: 15px;
  font-size: 17px;
}

.header__btn {
  height: 70%;
  width: 150px;
  background: linear-gradient(to right, #1cd3ac, #04b7de);
  border-radius: 50px;
  border: none;
  color: white;
  margin-left: -50px;
  font-weight: 600;
}
